body {
    font-family: 'Source Code Pro';font-size: 22px;
}

:root {
    --bgc: #1c3879;
    --btnc: #7bb6b2;
    --abtnc: #5C8F8B;
    --txtc: #fff7d6;
}

/*  all the btns main design */

.btn{
    height: 100px;
    width: 44%;
    text-align: center;
    font-size: 150%;
    float: none;
    margin-left: 3%;
    margin-top: 170px;
    border-radius: 5px;
    background-color: var(--btnc);
    color: var(--txtc);
    box-shadow: 0px 0px 10px 1px var(--btnc);
}

.btn:active {
    background-color: var(--abtnc);
    color: var(--txtc);
    
}

.ans{
    height:250px;
    overflow: hidden;
    background-color: transparent;
    color: var(--txtc);
    text-align: center;
    margin-top: 50px;
    float: left;
    width: 100%;
    font-size: 150%;
    padding:15px ;
}

/* needed for all alements  */
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    border: none;
    background-color: var(--bgc);
    outline:none ;
}

.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #3e8e41;
}

.dropdown {
  float: right;
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  right: 0;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}
