body {
    font-family: 'Source Code Pro';font-size: 20px;
}

:root {
    --bgc: #242F9B;
    --btnc: #9BA3EB;
    --abtnc: #646FD4;
    --txtc: #DBDFFD;
}

/*  all the btns main design */

.left{
  left: 10%;
  right: 60%;
}

.right{
  left: 60%;
  right: 10%;
}

.btn{
    height: 100px;
    width: 30%;
    margin: auto;
    text-align: center;
    font-size: 150%;
    margin-top: 20%;
    border-radius: 5px;
    background-color: var(--btnc);
    color: var(--txtc);
    box-shadow: 0px 0px 10px 1px var(--btnc);
}

.btn:active {
    background-color: var(--abtnc);
    color: var(--txtc);
    box-shadow: 0px 0px 10px 1px var(--abtnc);
    
}

.ans{
    height:250px;
    overflow: auto;
    background-color: transparent;
    color: var(--txtc);
    text-align: center;
    margin-top: 50px;
    float: left;
    width: 100%;
    font-size: 150%;
    padding: 15px;
}

/* needed for all alements  */
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    border: none;
    background-color: var(--bgc);
    outline:none ;
}

/* palette */

.dropbtn {
    background-color: transparent;
    font-size: 20px;
    border: 4px solid var(--btnc);
    border-radius: 50px;
    cursor: pointer;
    color: var(--txtc);
    background-color: var(--btnc);
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: var(--abtnc);
    border: 4px solid var(--abtnc);
  }
  
  .dropdown {
    float: right;
    position: relative;
/*    display: inline-block; */
    background-color: var(--btnc);
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--btnc);
    overflow: auto;
    box-shadow: 0px 8px 16px 0px var(--btnc);
    right: 0;
    z-index: 1;
  }
  
  .dropdown-content button {
    background-color: var(--btnc);
    text-decoration: none;
    display: block;
  }
  
  .dropdown button:hover {
      background-color: var(--abtnc);
  }
  
  .show {display: block;}
